h1 {
    opacity: 0.6;
    font-size: 50px;
    word-spacing: 10px;
    letter-spacing: 3px;
}

p {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url("./OIP.jpg");
    background-size: cover;
    margin: 0;
}
table {
    border-top: 3px solid rgb(245,200,245);
    border-left: 3px solid rgb(245,200,245);
    border-right: 3px solid rgb(245,200,245);
    border-bottom: 3px solid rgb(245,200,245);
    background-color: beige;
    opacity: 0.8;
    width: 100%;
}
th {
    text-align: left;
    border-bottom: 3px double rgb(245,200,180);
    background-color: rgb(186, 119, 248);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blanchedalmond;
    position: sticky;
    top: 0;
}

tr:nth-child(odd) {
    background-color: rgba(239, 217, 217, 0.8);
}

td {
    border: 2px rgb(255, 192, 250) solid;
}

footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: none;
    font-size: larger;
    color: rgba(186, 119, 248, 0.5);
}
